---
layout: main
---

{% include nav.html %}
<div id="main-content">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <p><strong id="hi">Hi!</strong> I'm Clayton and I study <em>Computer Science</em> and <em>Statistics</em> at the University of Waterloo.</p>
            <p>
            I love getting involved in my community, and seeing how I can help others. Otherwise I really like to code, longboard, take photos, and write. Take a look at what I've made :)
            </p>
            {% include social.html %}
        </div>
        <div class="col-xs-12 col-md-12">
            <h2 id="blog-header">Blog</h2>
            <ul class="posts">
            {% for post in site.posts limit:5 %}
                <li class="post-entry">
                    <a class="post-link" href="{{ post.url }}">
                        <div class="post-title">{{ post.title }}</div>
                        <div class="post-date">{{ post.date | date: '%d %B %Y' }}</div>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
