<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/favicon.png"/>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/sanitize.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Tinos|Roboto|Roboto+Slab" rel="stylesheet">
<link href="https://use.fontawesome.com/4c9066f1a6.css" media="all" rel="stylesheet">
{% include google-analytics.html %}
<title>clayton</title>
