<header class="navbar-wrapper">
    <a href="{{ site.baseurl }}/">
        <img id="avatar" src="/assets/images/avatar.jpg" alt="avatar link to home"/>
    </a>
    <div class="navbar">
        <p>Clayton Halim (林)</p>
        <nav>
            <ul class="hlist">
                <li class="hlist-item"><a class="hover-accent nav-link" href="{{ site.baseurl }}/blog">Blog</a></li>
                <li class="hlist-item"><a class="hover-accent nav-link" href="{{ site.baseurl }}/gallery">Photography</a></li>
                <li class="hlist-item"><a class="hover-accent nav-link" href="{{ site.baseurl }}/feed.xml">RSS</a></li>
            </ul>
        </nav>
    </div>
</header>
