<nav id="top-nav" class="navbar-wrapper">
    <ul class="hlist navbar">
        <li class="hlist-item"><a class="logo accent hover-accent" href="{{ site.baseurl }}index">(λc)</a>
             
        <!-- <li class="hlist-item"><a class="hover-accent nav-link" href="{{ site.baseurl }}index">About</a></li> -->
        <!-- | -->
        <li class="hlist-item"><a class="hover-accent nav-link" href="{{ site.baseurl }}blog">Blog</a></li>
        |
        <li class="hlist-item"><a class="hover-accent nav-link" href="{{ site.baseurl }}gallery">Photography</a></li>
    </ul>
</nav>
