<ul class="hlist social-bar">
    <li class="hlist-item">
        <a id="github" class="social-link" href="https://github.com/clayton-halim" aria-label="Github profile">
            <i class="fa fa-github"></i>
        </a>
        <a id="linkedin" class="social-link" href="https://linkedin.com/in/clayton-halim" aria-label="Linkedin profile">
            <i class="fa fa-linkedin"></i>
        </a>
        <a id="email" class="social-link" href="mailto:claytonhalim3@gmail.com" aria-label="Email">
            <i class="fa fa-envelope"></i>
        </a>
    </li>
</ul>
