<ul class="hlist social-bar">
    <li class="hlist-item">
            <a class="social-link" href="https://instagram.com/suddenclay"><i id="instagram" class="fa fa-instagram"></i></a>
            <a class="social-link" href="https://kaggle.com/clayparade"><i id="kaggle"><strong>k</strong></i></a>
            <a class="social-link" href="https://github.com/clayton-halim"><i id="github" class="fa fa-github"></i></a>
            <a class="social-link" href="https://linkedin.com/in/clayton-halim"><i id="linkedin" class="fa fa-linkedin"></i></a>
            <a class="social-link" href="mailto:claytonhalim3@gmail.com"><i id="email" class="fa fa-envelope"></i></a>
    </li>
</ul>
