<ul class="hlist social-bar">
    <li class="hlist-item">
        <a id="instagram" class="social-link" href="https://instagram.com/suddenclay"><i class="fa fa-instagram"></i></a>
        <a id="github" class="social-link" href="https://github.com/clayton-halim"><i class="fa fa-github"></i></a>
        <a id="linkedin" class="social-link" href="https://linkedin.com/in/clayton-halim"><i class="fa fa-linkedin"></i></a>
        <a id="email" class="social-link" href="mailto:claytonhalim3@gmail.com"><i class="fa fa-envelope"></i></a>
    </li>
</ul>
