.blog-date {
    margin-top: 0.4em;
    font-size: 1em;
    font-weight: normal;
    color: var(--dark-gray);
}

.blog-img {
    display: table;
    margin: 0 auto;
    height: 90%;
    width: 90%;
}

.blog-post {
    margin-top: 4em;
}

.blog-title {
    font-size: 2em;
    margin: 0;
}

.blog-title > a {
    text-decoration: none;
}

#blog-listing {
    padding: 0;
    list-style: none;
}

.tags {
    margin-top: 0;
}
