:root {
    --background: #FDFFFC;
    --black: #000100;
    --white: #FDFFFC;
    --red: #D4353A;
    --blue: #235789;
    --yellow: #F1D302;
    --pink: #F582AE;
    --light-gray: #999999;
    --dark-gray: #777;
    --line-height: 1.6;
}

body {
    background-color: var(--background);
    font-family: "noto sans";
}

p {
  margin-top: 0;
  line-height: var(--line-height);
}

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; 
  font-family: monospace;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; 
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; 
}

ul, ol {
    line-height: var(--line-height);
}

li {
    margin-bottom: 0.5em;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-width: 0;
  border-top: 1px solid var(--light-gray); 
}

a {
    text-decoration: none;
    color: var(--pink);
}

a:hover {
    transition: 0.2s color;
}

#avatar {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    object-fit: cover;
}

.hover-accent:hover {
    color: black;
}

#content-wrapper {
    max-width: 38em;
    margin: 0 auto;
    padding: 2em 1.5em;
}

.blog-date {
    margin-top: 0.5rem;
    font-size: 1em;
    color: var(--dark-gray);
}

.blog-img {
    display: table;
    margin: 0 auto;
    height: 90%;
    width: 90%;
}

.blog-post {
    margin-top: 4em;
}

.blog-title {
    font-size: 2em;
    margin: 0;
}

#blog-listing {
    padding: 0;
    list-style: none;
}

.hlist {
    padding: 0;
    list-style-type: none;
}

.hlist-item {
    display: inline;
    margin-right: 0.5em;
}

#instagram:hover {
    color: #8a3ab9;
}

#github:hover {
    color: #333;
}

#linkedin:hover {
    color: #0077b5;
}

#email:hover  {
    color: #F44336;
}

em {
    font-style: italic;
}

.navbar-wrapper {
    display: flex;
    width: auto;
    margin-bottom: 2em;
}

.navbar {
    margin-left: 1em;
}

.navbar > p {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
}

.navbar .hlist {
    margin: 0.2em 0;
}

.nav-link {
    color: black;
    text-decoration: underline;
}

.nav-link:hover {
    color: var(--pink);
}

.read-more {
    transition: 0.2s color;
}

.read-more:hover {
    color: black;
    text-decoration: underline;
}

.social-bar {
    margin-top: 2%;
    padding: 0;
}

.social-link {
    text-decoration: none;
    color: var(--light-gray);
    padding-right: 1%;
    font-size: 1.2em;
}

strong {
    font-weight: bold;
}

.tag {
    display: inline;
}

.logo {
    display: inline-block;
    margin-right: 0.75rem;
    font-family: monospace;
    font-size: large;
}

#blog-header {
    font-size: 1.5em;
    font-weight: bold;
}

.posts {
    padding: 0;
    list-style-type: none;
}

.post-date {
    color: var(--dark-gray);
    font-weight: 500;
    font-size: 0.8em;
}

.post-entry {
    margin-bottom: 2em;
    line-height: 1;
}

.post-title {
    margin-bottom: 0.5em;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    #content-wrapper {
        padding: 4em 1.5em;
    }
}
