:root {
    --background: #F8F8F8;
    --black: #000100;
    --white: #FDFFFC;
    --red: #C1292E;
    --blue: #235789;
    --yellow: #F1D302;
    --pink: #F582AE;
    --light-gray: #999999;
    --dark-gray: #777;
}

body {
    background-color: var(--background);
}

p {
  margin-top: 0; 
}

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; 
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; 
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; 
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-width: 0;
  border-top: 1px solid var(--light-gray); 
}

a {
    text-decoration: none;
    color: var(--pink);
    transition: 0.2s color;
}

.accent {
    color: var(--pink);
}

.hover-accent:hover {
    color: black;
}

#content-wrapper {
    max-width: 38em;
    margin: 0 auto;
    padding: 2em 1.5em;
}

.blog-date {
    font-family: "Lora";
    margin-top: 0.5rem;
    font-size: 1em;
    color: var(--dark-gray);
}

.blog-img {
    display: table;
    margin: 0 auto;
    height: 90%;
    width: 90%;
}

.blog-post {
    margin-top: 4em;
    font-family: "Lora";
}

.blog-title {
    font-family: "Lora";
    font-size: 2.4em;
    margin: 0;
}

body {
    font-family: "noto sans";
}

#blog-listing {
    padding: 0;
    list-style: none;
}

code {
    font-family: monospace;
}

#hi {
    color: var(--pink);
}

.hlist {
    padding: 0;
    list-style-type: none;
}

.hlist-item {
    display: inline;
}

#instagram, #github, #linkedin, #email {
    transition: 0.2s color;
}

#instagram:hover {
    color: #8a3ab9;
}

#github:hover {
    color: #333;
}

#linkedin:hover {
    color: #0077b5;
}

#email:hover  {
    color: #F44336;
}

em {
    font-style: italic;
}

#top-nav {
    margin-bottom: 5%;
}

.navbar-wrapper {
    font-weight: bold;
    width: auto;
}

.nav-bar {
    margin: 0;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: var(--pink);
}

p {
    line-height: 1.9;
}

.read-more {
    transition: 0.2s color;
}

.read-more:hover {
    color: black;
    text-decoration: underline;
}

.social-bar {
    margin-top: 2%;
    padding: 0;
}

.social-link {
    text-decoration: none;
    color: var(--light-gray);
    padding-right: 1%;
    font-size: 1.2em;
}

strong {
    font-weight: bold;
}

.tag {
    display: inline;
    font-family: "monospace";
}

.logo {
    display: inline-block;
    margin-right: 0.75rem;
    font-family: monospace;
    font-size: large;
}

#blog-header {
    font-size: 1.5em;
    font-weight: bold;
}

.posts {
    padding: 0;
    list-style-type: none;
}

.post-date {
    color: #777;
    font-weight: 500;
    font-size: 0.8em;
}

.post-entry {
    margin-bottom: 2em;
}

.post-title {
    margin-bottom: 0.5em;
}

#latest-title {
  display: inline-flex;
  margin-top: 5%;
  padding: 2.5%;
  vertical-align: top;
  border: 0px solid black;
  border-radius: 5px;
  z-index: 100;
  -webkit-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.05);
  box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.05);
}

#latest-title strong {
  vertical-align: top;
  margin-right: 1rem;
}

#intro-text {
    float: right;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
}
