---
layout: default
---

<div id="body-wrapper">
    <nav id="top-nav" class="navbar-wrapper">
        <ul class="hlist navbar">
            <li class="hlist-item"><a class="hover-accent nav-link" href="{{ site.baseurl }}index"><img class="logo" src="{{ site.baseurl }}/assets/images/watermelon-tilde.svg">
            <!-- <li class="hlist-item"><a class="hover-accent nav-link" href="{{ site.baseurl }}index">About</a></li> -->
            <!-- | -->
            <li class="hlist-item"><a class="hover-accent nav-link" href="{{ site.baseurl }}blog">Blog</a></li>
            |
            <li class="hlist-item"><a class="hover-accent nav-link" href="{{ site.baseurl }}gallery">Photography</a></li>
            |
            <li class="hlist-item" style="text-decoration: line-through;">Projects</li>
        </ul>
    </nav>
    {{content}}
</div>
