<!DOCTYPE html>
<html lang="en-ca">
<head>
    {% include head.html %}
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:description" content="{{ page.excerpt }}"/>
</head>
<body>
    <div id="content-wrapper">
    {% include nav.html %}
    <article class="blog-post">
        <h1 class="blog-title">{{ page.title }}</h1>
        <h2 class="blog-date">{{ page.date | date: "%B %d, %Y"}}</h2>
        {% for tag in page.tags %}
            <code class="tag">#{{ tag }}</code>
        {% endfor %}
        <hr>
        {{content}}
    </article>
</div>
</body>
</html>
